<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="mapper.IUserMapper">
    <!-- 根据用户名查询 -->
    <select id="queryUserByUserName" parameterType="String" resultType="User">
    select * from userInfo where userName=#{userName}
    </select>
    <!-- 增加用户 -->
    <insert id="addUser" parameterType="user">
    insert into userInfo values(#{userName},#{passWord},#{email})
    </insert>
    <!-- 根据用户名更新用户信息 -->
    <update id="UpdateUserByName" parameterType="user">
    update userinfo set passWord=#{passWord},email=#{email} where userName=#{userName}
    </update>
    </mapper>